.messenger{
  margin-top: 70px;
  padding: 0 20% !important;
  font-family: cursive;
  position: relative;
  height: 100vh;
  .messenger-container{
    padding: 20px 0;
    .left{
      .list-member{
        &__non{
          text-align: center;
        }
        background-color: white;
        overflow-y: hidden;
        height: 550px;
        padding: 10px 20px;
        cursor: pointer;
        :hover{
          color: red;
        }
      }
    }
    .right{
      .content-messenger{
        background-color: white;
        overflow-y: hidden;
        height: 550px;
      }
    }
  }
  
}