.login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  &__form-image{
    background-image: url('../assets/imgs/giasu_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
  }
}
.register{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  &__form-image{
    background-image: url('../assets/imgs/giasu_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
  }
}